tr#LEVEL_FINE{
	color: blue;
}
tr#LEVEL_FINER{
	color: black;
}
tr#LEVEL_FINEST{
	color: gray37;
}
tr#LEVEL_INFO{
	color: green;
}
tr#LEVEL_WARNING{
	color: orange;
}
tr#LEVEL_SEVERE{
	color: red;
}

div#LEVEL_FINE{
	color: blue;
}
div#LEVEL_FINER{
	color: black;
}
div#LEVEL_FINEST{
	color: gray37;
}
div#LEVEL_INFO{
	color: green;
}
div#LEVEL_WARNING{
	color: orange;
}
div#LEVEL_SEVERE{
	color: red;
}

#log_page pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 7px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 98%;
	font-size: 12px;
	background-color: #FFFFFF;
	/* Word Warp*/
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* IE 5.5+ and up */

	}

#error_page pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border: 0px;
	#margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 98%;
	font-size: 12px;
	background-color: #FBFBFB;
	/* Word Warp*/
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* IE 5.5+ and up */

	}

