
#box-table{
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:  9px;
	border-collapse: collapse;
}

#box-table caption{
	background: url(title.png) no-repeat 50px;
	font-size: 14px;
	text-indent: -10000px;
}

#box-table thead tr{
	/*background-color: #D9FFD9;*/
	background-color: #2B3856;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: white;
}

#box-table tfoot tr{
	background-color: #FFFFFF;
}

#box-table thead th{
	padding: 0.5em;
	white-space: nowrap;
}

#box-table tfoot th{
	font-size: 110%;
	text-align: right;
	padding-right: 0.5em;
	letter-spacing: 1px;
	background:  
}

#box-table tfoot td{
	background-color:#F0F0F0;
	padding-left: 0.5em;
	color: black;
	font-size: 110%;
	font-weight: 600;
}
/*
#box-table tfoot td:hover{
	background-color: red;
	color: white;
}
*/
#box-table tr{
	/*background-color: #EAFDFF;*/
	background-color: #E0E0E0;
	
}

#box-table tr.odd{
	background-color: #FFFFFF;
}

#box-table tbody tr:hover{
	background-color: #909090;
	color: white;
}

#box-table td, th{
	border: 1px dotted #FFFFFF;
}

#box-table tbody td
{
	padding: 0.5em;
}

#box-table td a:link, th a:link{
	color: black;
	text-decoration: underline;
}

#box-table td a:visited, th a:visited{
	color: black;
	text-decoration: underline;
	/* text-decoration: line-through; */
}

#box-table td a:hover, th a:hover{
	
	color: purple; 
	text-decoration: underline overline;
	
}

#box-table td:last-child a:hover{
	color: red;
	text-decoration: underline overline;
}