<div class="container-fluid"> <!-- Container-fluid -->

  <!-- Loading icon disaplay -->
  <div ng-hide="queryResponse.$resolved">
    <div ng-include src="'partials/common-html/loading.html'"></div>
  </div>

  <div ng-show="queryResponse.$resolved"> <!-- Main Message -->

    <!-- Page Header -->
    <div ng-include src="'partials/common-html/header-list.html'"></div>

    <!-- Display No Items on system -->
    <div ng-include src="'partials/common-html/no-items-system.html'"></div>

    <div ng-show="queryResponse.length > 0">
      <!-- Table -->
      <table class="table table-hover table-bordered table-striped mc-table">
        <thead>
          <th>Name</th>
          <th>Type</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in queryResponse" ng-click="selectItem(item)">
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- Main Message -->

</div> <!-- Container-fluid -->
